@import url('color.css');
@import url('size.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: var(--primary-color);
     color: var(--white-color);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 21px;
}

ul li{
    display: inline;
    list-style: none;
}

li a {
    color:var(--white-color) ;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.hero{
    height: 200px;
    width: 100%;
    background-color: var(--hero-color);
    text-align: center;
    padding-top: 20px;
}

.hero h2{
        font-size: var(--size-titre);
}

.hero p{
    font-size: 13px;
}


.titre{
    text-align: center;
    padding: var(--size-titre);
    font-size: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item{
    background-color:#75F94D ;
    width: 320px;
    height: 200px;
    margin-bottom: 16px;
    border: 1px solid #2A591C;
    padding: 5px;
}

.contact{
    text-align: center;
    font-size: var(--size-titre);
}

form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
}

footer{
    background-color: var(--primary-color);
     color: var(--white-color);
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
}